.App-project {
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;

    &__name {
        text-transform: uppercase;
        font-size: 24px;

        @media (min-width: 750px) {
            font-size: 28px;
        }
    }
    &__description {
        white-space: pre-line;
        padding: 20px 0 35px;
        font-weight: 200;
        font-size: 16px;

        @media (min-width: 750px) {
            font-size: 20px;
        }
    }
    &__button {
        position: relative;
        padding: 10px 20px;
        color: black;
        background-color: white;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 20px;
        font-weight: 200;
        font-size: 14px;
        transition: padding .25s linear;

        @media (min-width: 750px) {
            font-size: 14px;
        }
        &:hover {
            background-color: #fe758a;
            font-weight: 400;
            padding: 10px 30px 10px 20px;

            span {
                opacity: 1;
                right: 15px;
            }
        }
        span {
            content: '';
            position: absolute;
            opacity: 0;
            right: 13px;
            width: 7px;
            height: 1px;
            background-color: black;
            transition: all .25s linear;

            &:nth-of-type(1) {
                top: calc(50% - 3px);
                transform: rotate(45deg);
            }
            &:nth-of-type(2) {
                top: calc(50% + 2px);
                transform: rotate(135deg);
            }
        }
        &--app {
            margin-left: 15px;
        }
    }
}