.App-tabs {
    margin-top: 75px;

    @media (min-width: 750px) {
        margin-top: 250px;
    }

    &__header {
        display: flex;
        justify-content: center;
    }
    &__tab {
        font-family: 'Montserrat', sans-serif;
        width: fit-content;
        font-size: 14px;
        font-weight: 700;
        margin: 0;
        padding: 18px 25px;
        color: white;
        background-color: transparent;
        text-transform: uppercase;
        border: 0;
        border-radius: 7px;

        @media (min-width: 375px) {
            margin: 0 10px;
        }
        @media (min-width: 750px) {
            font-size: 18px;
        }
        &:not(.active):hover {
            cursor: pointer;
            box-shadow: 0px 0px 7px 3px #fe758a;
        }
        &.active {
            color: black;
            background-color: #fe758a;
        }
    }
    &__content {
        padding: 75px 50px;
        color: white;
        
        @media (min-width: 750px) {
            padding: 100px 50px;
        }
        @media (min-width: 1025px) {
            padding: 100px 50px;
            max-width: 1000px;
            margin: auto;
        }
    }
}